.login {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-logo {
  width: 30rem;
}
.login-action-btn {
  position: relative;
  border-radius: 0.7rem;
  width: 30rem;
  border: 2px solid var(--border-color);
  justify-content: center;
}
.login-action-btn span {
  font-weight: var(--bold-font);
  padding: 0.5rem 1rem;
}
.login-action-btn:hover {
  background-color: #e7e7e7;
  border: 2px solid var(--first-color);
  transition: 0.5s;
}
.google {
  margin-bottom: 1rem;
}
.google span::before {
  border-radius: 1px;
  content: "";
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M17.64 9.205c0-.639-.057-1.252-.164-1.841H9v3.481h4.844a4.14 4.14 0 01-1.796 2.716v2.259h2.908c1.702-1.567 2.684-3.875 2.684-6.615z' fill='%234285F4'/%3E%3Cpath d='M9 18c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711H.957v2.332A8.997 8.997 0 009 18z' fill='%2334A853'/%3E%3Cpath d='M3.964 10.71A5.41 5.41 0 013.682 9c0-.593.102-1.17.282-1.71V4.958H.957A8.996 8.996 0 000 9c0 1.452.348 2.827.957 4.042l3.007-2.332z' fill='%23FBBC05'/%3E%3Cpath d='M9 3.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C13.463.891 11.426 0 9 0A8.997 8.997 0 00.957 4.958L3.964 7.29C4.672 5.163 6.656 3.58 9 3.58z' fill='%23EA4335'/%3E%3Cpath d='M0 0h18v18H0z'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0.7rem;
  left: 4.3rem;
}
.facebook svg {
  border-radius: 1px;
  margin-top: 0.3rem;
}
