:root {
  --first-color: #3f0e40;
  --title-color: rgb(37, 37, 37);
  --subtitle-color: #777e90;
  --text-color: #23262f;
  --text-color-white: #fff;
  --border-color: #b3b3b3;
  --body-color: #ffffff;
  --body-font: "Poppins", sans-serif;
  /*===================FONT SIZE==================*/
  --big-font-size: 3rem;
  --normal-font-size: 1.4rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.8rem;
  --h2-font-size: 1.65rem;
  /*===================FONT WEIGHT==================*/
  --medium-weight: 500;
  --bold-font: 600;
}
/* ====================Global=======================*/
a,
Link {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
Link {
  text-decoration: none;
}
button,
input,
textarea {
  background: none;
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
}
img {
  width: 100%;
}
